$primary:#FFFFFF;
$secondary:#000000;

$gradient-text:linear-gradient(180deg, rgba(138,143,253,1) 21%, rgba(208,163,253,1) 71%);

$avatars-color:linear-gradient(120deg, rgba(131, 131, 131, 1) 0%, rgba(60, 60, 60, 1) 100%) no-repeat;
$chekSkin: linear-gradient(120deg, rgba(194,215,255,1) 0%, rgba(139,144,253,1) 100%);
$mtc: linear-gradient(90deg, rgba(255,118,128,1) 0%, rgba(216,28,40,1) 100%);
$yourHome:linear-gradient(90deg, rgba(219,214,255,1) 0%, rgba(145,128,255,1) 100%);
$worldQuests: linear-gradient(90deg, rgba(107,107,117,1) 1%, rgba(49,49,58,1) 100%);
$network: linear-gradient(90deg, rgba(126,227,234,1) 0%, rgba(33,183,231,1) 100%);
$teamJect:linear-gradient(90deg, rgba(255,106,168,1) 0%, rgba(161,26,99,1) 100%);

