@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import 'colors.scss';

html{
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: visible;
}
*{
  transition: 0.5s all linear;
}

body{  
  margin: 0; 
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: visible;
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}

.header-secondary{
  display: none;
  top: 0;
}
.header {
  position: absolute;
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 100%;
    .logo{
      z-index: 20;
      cursor: pointer;
      color: $primary;
      font-family: 'Montserrat',sans-serif;
      font-size: 30px;
      font-weight: 300;
    }   
    .menu{
      z-index: 20;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items:flex-end;
      cursor: pointer;
      max-height: 2em;
      .menu-top{
        fill: $primary;
      }
      .menu-middle{
        fill: $primary;
      }
      .menu-bottom{
        fill: $primary;
      }
    }
  }
}

.bottom{
  position: absolute;
  top: calc(100% - 250px);
  width: 100%;
  &__wrapper{   
    padding: 40px;
    display: flex;
    justify-content: space-between;    

    .case-text {
      margin-top: -50px;
      color: $primary;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .case-vector{
        position: absolute;
        z-index: 4;
        margin-bottom: -20px;
        opacity: 0;
        transition: 0.2s linear;
      }
      &__title:hover + .case-vector{
        opacity: 1;
      }
      &__title:hover{ 
        transform: translateY(-20px);
      }
      &__title{
        z-index: 5;
        font-size: 30px;
        writing-mode: tb; 
        margin-bottom: 21px;
        transition: 0.2s linear;
      }
      &__img:hover{
        background: white;
      }
      &__img:hover .en-hover{
        fill: black ;
      }
      &__img{
        z-index: 5;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: rgba(0, 0, 0, 0.05);
        width: 61px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__img-icon{
        width: 22px;
        height: 22px;
        fill: $primary;
      }
    }
  }
}

.menu-transform-top{
  transform: translateX(-20%);
}
.menu-transform-bottom{
  transform: translateX(-100%);
}

.menu-line{
  transition: 0.2s linear;
}

@media screen and(min-width:600px) {
  
  .unlimit-dark-mode{
    color: black !important;
    fill: black !important;
  }
}
.close{
  display: none;
}
.light-mode{
  fill: white !important;
}

.bottom-project{
  display: none;
}

@media screen and (min-width:1650px){
  .unlimit-dark-mode-project{
    color: black !important;
    fill: black !important;
  }
  .menu-high{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    cursor: pointer;
    max-height: 2em;    
  }
  .dark-mode{
    color: black;
    fill: black !important;
  }
  .menu-high-top{
    fill: white;
  }
  .menu-high-middle{
    fill: white;
  }
  .menu-high-bottom{
    fill: white;
  }
  .case-title{
    color: $secondary;
  }
  .case-img{
    fill: $secondary;
  }
}
@media screen and(min-width:600px) and (max-width:1650px) {
  .scroll-unlimit-dark-mode{
    color: black !important;
    fill: black !important;
  }
}
@media screen and(max-width:1650px) {

  .menu-medium{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    cursor: pointer;
    max-height: 2em;    
  }
}
@media screen and(max-width:1200px) {
  .dark-mode-small-on{
    color: black !important;
    fill: black !important;
  }

}

@media screen and(min-width:1200px) {
  .dark-mode-small-off{
    color: black !important;
    fill: black !important;
  }

}

@media screen and(max-width:880px) {
  .header {
    &__wrapper {
      .logo{
        font-size: 18px;
      }   
      .menu{
        
      }
    }
  }
  .bottom{
    top: calc(100% - 200px);
    &__wrapper{     
      padding: 40px 40px 0;
      .messenger {  
        &__whatsapp {       
         height: 42px;
         width: 42px;
         display: flex;
         align-items: center;
        } 
        &__telegram{
          height: 42px;
          width: 42px;
          display: flex;
          align-items: center;
        }
        img{
          height: 20px;
          width: 20px;
        }
      }

      .case-text {         
        &__title{         
          margin-bottom: 11px;
          font-size: 24px;
        }
        &__img{
          width: 42px;
          height: 42px;
        }
        svg{
          width: 19px;
          height: 17px;
        }
      }
    }
  }
}
@media screen and(max-width:600px)  {
  .header-main{
    display: none;
  }
  .dark-mobile{
    color: black !important;
    fill: black !important;
  }
  .menu-mobile{
    height: 25px;
  }
  .header-padding{
    padding-top: 30px;
  }
  .header-secondary{
    top:0;
    display: block;
  }
  .bottom-menu{
    margin-top: 25px;
  }
  .bottom-contacts{
    position: absolute !important;
    width: 85%;
    top: calc(100% - 105px) !important;
    margin: 0;
    
  }
  .bottom-main{
    display: none !important;
  }
  .bottom-case{
    margin-left: -15px;
    position: absolute !important;
    width: 90%;
    margin-right: -5%;
    top: calc(100% - 105px) !important;
  }
  .bottom-project{
    display: block;
    position: static;
  }
  .section-bottom__wrapper-project{
    padding: 0 !important;
  }
  .bottom{
    top: calc(100% - 65px);
      &__wrapper{
      padding: 0 20px;
    }
    .messenger{
      flex-direction: row ;
      &__telegram{
        padding: 3px;
      }
      &__whatsapp{
        padding: 3px;
        margin: 0 10px 0 0 ;
      }
    }
    .case-text{
      margin-top: 0px !important;
      &__img{
        padding: 3px;
      }
      &__title{
        display: none;
      }
    } 
  }

}

@media screen and(max-width:380px) {
  .bottom-for-mobile-menu{
    top: 140%;
    padding-bottom: 10px;
  }
}

//JS
.open{
  display: none;
}
.false{
  background-color: red;
}

@media screen and(max-width:380px) and (max-height:650px) {
  .header__wrapper{
    padding: 20px;
  }
}

