@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import 'colors.scss';

.n-show{
  opacity: 0 !important;
}

.avatars-background{
  background: $avatars-color;
}
.chekSkin-background{
  background: $chekSkin ;
}
.mtc-background{
  background: $mtc;
}
.yourHome-background{
  background: $yourHome !important;
}
.worldQuests-background{
  background: $worldQuests;
}
.network-background{
  background: $network;
}
.teamJect-background{
  background: $teamJect;
}

.project::before{
  transition: all 0.5s linear ;
}
.project::after{
  transition: all 0.5s linear ;
}

.wrapper-side-left{
  top: 0;
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-side-right{
  top: 0;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-project{
  z-index: 9999;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.next-project{
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}



.project{ 
  overflow-y:auto ;
  z-index: 1;
  position: absolute;
  right: 0;
  transition: all 0.3s linear ;
  display: flex;
  justify-content: center;
  width: 100%;  
  height:100%;
  &__wrapper{
    height: 100%;

    left: 0;
    display: flex;
    flex-direction: column;  
    width: 100%;
   
  } 
}

.btn-for-first-page{
  justify-content: flex-end !important;
}
.btn-for-last-page{
  justify-content: start !important;
}
.wrapper-top{
  height: 100px;
  .title {
    transition: 0.5s all linear;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__back {
      // margin-top: 64px;
      font-family: 'Lato', sans-serif;
      position: relative;
      font-size: 96px;
      opacity: 0.1;
      font-weight: 400;
    }      
    &__title {
      position: absolute;
      top: 84px;
      font-weight: 700;
      font-size: 30px;
      font-family: 'Montserrat',
        sans-serif;
    }      
    &__subtitle {
      font-family: 'Montserrat',
        sans-serif;
      font-weight: 100;
      font-size: 18px;
    }
  }
}  
.application-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.wrapper-medium{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  &__right{
    z-index: 1;
    transition: 0.2s all linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__left{
    right: 40%;
    transition: 0.2s all linear;
    opacity: 00;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 250px;
 
  }
}

.scroll{
  display: flex;
  flex-direction: column;
  height: calc(100% - 450px);
  align-items: center;
  &__title{
    text-align: center;
    color: $primary;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 0 0 26px;
  }
  &__btn-group{
     scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    .btn:first-child{
      width: 66px;
      height: 66px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      margin: 0 0 20px;
    }
    .btn{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
    }
    .btn:last-child{
            /* Выберем анимацию */
      animation-name: movingBox;

      /* Укажем длительность анимации */
      animation-duration: 2s;

      /* Укажем - сколько раз мы хотим
          повторить анимацию */
      animation-iteration-count: infinite;

      /* Это приводит к выполнению анимации
          в обратном порядке на каждой нечётной итерации */
      // animation-direction: alternate;
    }

    @keyframes movingBox {
      0% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(0px, 50px);
      }

      100% {
        transform: translate(0px, 0px);
      }
    }
  }
}
.anchor{
  scroll-behavior: smooth;
}

.wrapper-middle{
  .avatars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  &__iphone {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    max-height: 500px;
    transition: 0.2s all linear;
  }
  
  &__animation {
    opacity: 1;
    transition: 0.2s all linear;
    width: 600px;        
    position: relative;
  }     
}
.wrapper-bottom{
  .application {
    transition: 0.2s linear;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;      
    &__title:first-child {
      font-size: 14px;
      font-weight: 100;
    }
  
    &__title {
      margin-bottom: 10px;
      font-size: 48px;
    }
  
    .progressbar {
      transition: 0.2s linear;
      display: flex;
  
      &__trip {
        height: 2px;
        position: absolute;
      }
  
      &__back {
      }
    }
  }
}

@media screen and(min-width:800px) {
  
  .animation-png-small{
    width: 500px;
  }
}
.progbar-show{
  opacity: 0;
}
@media screen and(min-width:1651px) {
  .title-show{
    opacity: 0;
    max-height: 200px;
  }

  .project{ 
    &__wrapper{
      width: 100%;
      position: absolute;
    }
  }
  .wrapper-top{
    padding: 50px 0 0;
  }
  .project-change-for-description{
    width: 45% !important; 
  }
}


@media screen and (max-width:1650px) {
  .wrapper-top{
    padding: 30px 0 0;
  }
  .project{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper{
      width:100%;
    }
  }

}
@media screen and (min-width:880px) and (max-width:1650px) {
  .project-wrap-right-change{
    transform: translateX(-40%);
  }
  .wrapper-medium__left-show{
    z-index: 3;
    opacity: 1;
    right: 10%;
  }
  .project{ 
    &__wrapper{
      height: 100%;

      padding: 0 !important;
      .wrapper-top{
        .title {
          &__back{
            font-size: 80px;
          }
          &__title{
            font-size: 25px;
            top: 60px;
          }
          &__subtitle{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:880px){
  .scroll{
    &__title{
    }
    .btn:first-child{
      width: 40px;
      height: 40px;
      margin: 0 0 10px;
    }
    &__btn-group{
      .btn:last-child{
        display: none;
      }
    }
  }
  .wrapper-medium__left{
    bottom: 10%;
    left: 35%;
  }
  .wrapper-medium__left-show{
    right: auto;
    left: auto;
    z-index: 3;
    opacity: 1;
    bottom: 0%;
  }
  .progressbar__back{
    width: 300px;
  }
  .progressbar {
    &__trip {
      width: 100px;
      position: absolute;
    }
  }

  .project{ 
    &__wrapper{
      height: 100%;
      .wrapper-top{
        .title {
          &__back{
            font-size: 48px;
          }
          &__title{
            font-size: 18px;
            top: 45px;
          }
          &__subtitle{
            font-size: 14px;
          }
        }
      }
      .wrapper-middle{
        .avatars {
          display: flex;
          justify-content: center;
          height: 400px;
        }
        &__iphone {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          max-height: 400px;
        }
        
        &__animation {
          position: relative;
          max-width: 500px;

        }     
      }
    }
  }
  .slide__text{
    font-size: 14px; 
  }
  .btn-project{
    padding: 10px 12px !important;
    &__img{
      height: 20px;
      width: 20px;
    }
  }
}

@media screen and(max-width:600px)  {
  .case-text__img-icon-project{
    fill: black !important;
  }
  .messenger__telegram-svg-project{
    fill: black !important;
  }
  .messenger__whatsapp-svg-project{
    fill: black !important;
  }
  .wrapper-medium__left{
    opacity: 1 !important;
  }
  .scroll__title{
    opacity: 0 !important;
  }
  .progressbar {
    opacity: 1 !important;
  }
  .scroll{
    &__btn-group{
      .btn img{
        width: 17px;
      }
      .btn:first-child{
        opacity: 1 !important;
        width: 40px;
        height: 40px;
        margin: 0 0 10px;
      }
    }
  }
  .wrapper-medium__left{
    transition: 0.5s linear;
    bottom: 0;
    right: auto;
    left: auto;
  }
  .wrapper-top{
    padding: 90px 0 0;
  }
  
  .project{
    &__wrapper{
      // height: 120%;
      padding: 0;
    }
  }
  .title__title{
    top: 111px !important;
  }
  .wrapper-middle__iphone{
    max-width: 350px;
  }
  .wrapper-middle__animation{
    width: 350px;
  }

  .wrapper-medium {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin-top: -50px;
  }
  .description__wrapper{
      padding: 70px 30px;
  }
  .separation__block{
    .title{
      font-size: 20px !important;
    }
  }
  .slide__text{
    display: none;
  }
  .wrapper-medium__right{
    margin-top:-30px;
  }
}


@media screen and(max-width:400px) {
  .project{ 
    &__wrapper{
      .wrapper-middle{
        .avatars {
          display: flex;
          justify-content: center;
          height: 300px;
        }
        &__iphone {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          max-height: 300px;
        }
        
        &__animation {
          position: relative;
          max-width: 300px;

        }     
      }
    }
  }
  .wrapper-medium__right{
    margin-top:-25px;
  }
  .wrapper-bottom{
    .application {
      transition: 0.2s linear;
      color: $primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;      
      &__title:first-child {
        font-size: 14px;
        font-weight: 100;
      }
    
      &__title {
        margin-bottom: 10px;
        font-size: 35px;
      }
    }
  }
}
@media screen and(max-width:380px) and (max-height:650px) {
  .wrapper-top{
    padding: 40px 0 0;
  }
  .title__title{
    top: 58px !important;
  }
  .scroll__title{
    display: none;
  }
}